* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif !important;
	color: #fff;
}
/* ----Presentación-Lyft-----*/
.container-flex-column {
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

.container-flex-row {
	display:flex;
 	justify-content: space-between;
}
.vh100{
	height: 100vh;
}

.grad {
	background: linear-gradient(rgb(83, 0, 96)10%, rgb(205, 9, 131));
}
/* ----Register-Lyft-----*/
.fond-image {
	background-image: url(../assets/images/movil.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.buttons-register {
	padding: 1em ;
	margin-left: 6em;

}
.btn-default {
	padding: 0.5em;
	margin-bottom:  5px;
	background: rgba(0,0,0, 0.1);
	border: 1px solid #fff;
	color: #fff;
	width: ;
	font-size: 20px;
}
.btn-return {
	background-color: #fff;
	color:#000;
	border-radius: 30px;
	margin: 1em;
}
.title {
	margin: 1em;
	font-weight: bolder;
}
.logo {
	height: inherit;
}
.logo1 {
	height: 50px;
	margin-left: 25vh;
}
.logo2 {
	height: inherit;
  margin-bottom: 1em;
}
/*-------SignUpp-Lyft-------------------- */
.container {
	margin-left: 7px;
}
.select-country {
	height: 30px;
	width: 22%;
	border-radius: 5px;
	display: inline;
	color: #000;
	margin: 5px;
}

/*---Coloca tú N°cellphone---*/
.cellphone{
	/*height: 30px;*/
	border-radius: 5px;
	display: inline;
	margin: 5px;

}
.form-control {
	height: 33%;
	width: 30%;
	border-radius: 5px;
	display: inline;
	color: #000;
}

.subt-signup {
	margin-top: 3em;
}
.btn-signup {
	margin-top: 2em;
	width: 50%;
	margin-left: 9em;
	color: #000;
	font-weight: bolder;
	border-radius: 3px;;
	background: #fff;
	height: 30%;
}
