* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif !important;
}
/* ----Presentación-Lyft-----*/
.container-flex-column {
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

.container-flex-row {
	display:flex;
 	justify-content: space-between;
}
.vh100{
	height: 100vh;
}

.grad {
	background: linear-gradient(rgb(80, 0, 96)70%, rgb(205, 9, 131));
}

/* ----Register-Lyft-----*/
.fond-image {
	background-image: url(../assets/images/autos.gif);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: top left;
}
.fond-image2 {
	background-image: url(../assets/images/mostache.gif);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: top center;
}

.btn-start {
	padding: 0.5em;
	margin-bottom:  5px;
	background: rgba(0,0,0, 0.8);
	border: 2px solid #fff;
	color: #fff;
	font-size: 20px;
}
.btn-return {
	background-color: #2C407E;
	color:#fff;
	border-radius: 30px;
	margin: 1em;
}
