<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="icon" href="../assets/images/icon.ico">
<link rel="stylesheet" href="../css/main.css">
<title>Lyft</title>
</head>
<body class="fond-image vh100">
  <header class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
    <img src="../assets/images/logo-white.png" class="img-responsive  logo1" alt="logo">
    </div>
    </div>
  </header>
  <section class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
    <img src="../assets/images/lyft-lyfe.svg" class="img-responsive logo2" alt="logo">
    </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="col-xs-12 buttons-register">
    <a href="close.html" type="button" class="btn btn-default" id="signup">LOG IN</a>
    <a href="signup.html" type="button" class="btn btn-default" id="login">SIGN UP</a>
   </div>
  </section>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>
