<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="../assets/images/icon.ico">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>
<body>
  <header>
    <div class="container-flex-row">
      <a href="signup.html" type="button" class="btn btn-return">
      <i class="material-icons">navigate_before</i>
      </a>
    </div>
  </header>
  <section class="container center">
    <div class="row">
      <div class="col s12">
        <h1>Verify</h1>
        <p>join now for free ride credit</p>
        <hr>
        <div class="row">
          <div class="col s12">
            LAB-
            <div class="input-field inline">
              <input id="code" type="number" class="validate">
              <label for="code" data-error="wrong" data-success="right">###</label>
            </div>
          </div>
        </div>
        <p id="phone">Enter the code sent to</p>
        <br/>
        <a id="btn-resend" class="waves-effect waves-light btn">resend code</a>
      </div>
    </div>
    <div class="row">
      <div id="btn-next" class="col s12">
        <a href="signup2.html" class="btn waves-effect waves-purple btn-secondary">next</a>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  </body>
  </html>
